.results-list-container {
  background: #fff;
  padding: 2rem;
  min-width: 270px;
  font-weight: bold;
  width: 30vw;
  height: 55vh;
  border-radius: 2px;
  box-shadow: 0 0.5px 1px 0 var(--warm-grey-75);
  border: solid 0.5px var(--pinkish-grey);
  overflow: auto;
}

.result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0;
  flex-wrap: wrap;
}

.result-item span {
  font-size: 1rem;
  flex: 1;
}

.result-item-button {
  background-color: var(--green-teal);
  color: #fff;
  border: none;
  padding: 0.4rem 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  font-size: 0.9rem;
  text-decoration: none;
}

.p-no-result {
  color: var(--pinkish-grey);
  text-align: center;
  display: flex;
  justify-content: center;
  height: 80%;
  align-items: center;
}

@media (max-width: 768px) {
  .result-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .result-item-button {
    margin-top: 0.8rem;
    padding: 0.4rem 0;
    width: 100%;
  }
}
