body {
  margin: 0;
  background-color: var(--website-bg);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  padding: 2rem;
  justify-content: center;
}
